<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="12826" android:versionName="1.28.26" package="com.xiaomi.midrop">
	<uses-sdk android:minSdkVersion="19" android:targetSdkVersion="28" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.OVERRIDE_WIFI_CONFIG" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.GET_TASKS" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.WRITE_SETTINGS" />
	<uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.LOCATION_HARDWARE" />
	<uses-permission android:name="android.permission.MODIFY_PHONE_STATE" />
	<uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
	<uses-permission android:name="android.permission.STATUS_BAR" />
	<uses-permission android:name="android.permission.INTERACT_ACROSS_USERS" />
	<uses-permission android:name="android.permission.PEERS_MAC_ADDRESS" />
	<uses-permission android:name="android.permission.WRITE_MEDIA_STORAGE" />
	<uses-permission android:name="android.permission.MANAGE_USERS" />
	<uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.BLUETOOTH" />
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
	<uses-permission android:name="android.permission.LOCAL_MAC_ADDRESS" />
	<uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
	<uses-permission android:name="android.permission.READ_CONTACTS" />
	<uses-permission android:name="android.permission.WRITE_CONTACTS" />
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
	<uses-permission android:name="android.permission.GET_ACCOUNTS" />
	<uses-permission android:name="com.xiaomi.market.sdk.UPDATE" />
	<uses-permission android:name="miui.permission.USE_INTERNAL_GENERAL_API" />
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-feature android:name="android.hardware.camera" android:required="false" />
	<uses-feature android:name="android.hardware.camera.front" android:required="false" />
	<uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
	<uses-feature android:name="android.hardware.camera.flash" android:required="false" />
	<uses-feature android:name="android.hardware.screen.landscape" android:required="false" />
	<uses-feature android:name="android.hardware.wifi" android:required="false" />
	<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
	<permission android:name="com.xiaomi.midrop.permission.C2D_MESSAGE" android:protectionLevel="0x2" />
	<uses-permission android:name="com.xiaomi.midrop.permission.C2D_MESSAGE" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<application android:theme="resourceId:0x7f10000b" android:label="ShareMe" android:icon="r/a8/midrop.png" android:name="com.xiaomi.midrop.MiDropApplication" android:configChanges="0x4" android:allowBackup="true" android:hardwareAccelerated="true" android:supportsRtl="true" android:usesCleartextTraffic="true" android:resizeableActivity="false">
		<meta-data android:name="android.max_aspect" android:value="{4:1074580685}" />
		<meta-data android:name="notch.config" android:value="portrait" />
		<meta-data android:name="google_analytics_adid_collection_enabled" android:value="false" />
		<meta-data android:name="google_analytics_ssaid_collection_enabled" android:value="false" />
		<activity android:theme="resourceId:0x7f1000f3" android:name="com.xiaomi.midrop.sender.ui.TransmissionActivity" android:launchMode="singleTask" android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
			</intent-filter>
		</activity>
		<activity android:theme="resourceId:0x7f1000f3" android:name="com.xiaomi.midrop.receiver.ui.ReceiveActivity" android:launchMode="singleTask" android:screenOrientation="portrait" />
		<service android:label="SenderManagerService" android:name="com.xiaomi.midrop.sender.service.SenderManagerService" android:enabled="true" android:exported="true" android:process=":fileService">
			<intent-filter>
				<action android:name="midrop.api.transmitter.ISenderManagerService" />
			</intent-filter>
		</service>
		<service android:label="MidropTransmitter" android:name="midrop.service.transmitter.manipulator.DeviceManipulatorService" android:permission="android.permission.INTERNET" android:enabled="true" android:exported="true" android:process=":fileService">
			<intent-filter>
				<action android:name="midrop.api.transmitter.IDeviceManipulatorService" />
			</intent-filter>
		</service>
		<service android:label="MidropTransmitter" android:name="midrop.service.transmitter.fileserver.FileServerService" android:permission="android.permission.INTERNET" android:enabled="true" android:exported="true" android:process=":fileService">
			<intent-filter>
				<action android:name="midrop.api.transmitter.IFileServerService" />
			</intent-filter>
		</service>
		<service android:label="MidropReceiver" android:name="com.xiaomi.midrop.receiver.service.ReceiverService" android:permission="android.permission.INTERNET" android:enabled="true" android:exported="true" android:process=":fileService">
			<intent-filter>
				<action android:name="midrop.api.receiver.IReceiverService" />
			</intent-filter>
		</service>
		<activity android:theme="resourceId:0x7f10000d" android:name="com.xiaomi.midrop.receiver.ui.ReceiverInProgressDialog" android:excludeFromRecents="true" />
		<activity android:name="com.xiaomi.midrop.HelpActivity" android:screenOrientation="portrait" />
		<activity android:theme="resourceId:0x7f1000ba" android:name="com.xiaomi.midrop.HomeActivity" android:screenOrientation="portrait" />
		<activity android:theme="resourceId:0x7f1000ba" android:name="com.xiaomi.midrop.SplashScreen" android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			<meta-data android:name="android.app.shortcuts" android:resource="r/i/d.xml" />
		</activity>
		<activity android:theme="resourceId:0x7f1000e2" android:name="com.xiaomi.midrop.deeplink.RouterCenterActivity" android:launchMode="singleTask" android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="midrop" android:host="open.midrop.app" />
			</intent-filter>
		</activity>
		<activity android:name="com.xiaomi.midrop.RedirectActivity" android:exported="true" android:launchMode="singleTask" android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="com.xiaomi.midrop.action.BROWSE" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		<activity android:theme="resourceId:0x7f100178" android:name="com.xiaomi.midrop.WebActivity" android:exported="false" android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="com.xiaomi.midrop.action.WEBPAGE" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		<activity android:name="com.xiaomi.midrop.coolboot.activity.CoolBootActivity" android:screenOrientation="portrait" />
		<service android:name="com.xiaomi.midrop.coolboot.service.CoolBootService" android:enabled="true" android:exported="false" />
		<activity android:theme="resourceId:0x7f10000c" android:name="com.xiaomi.midrop.GalleryActivity" android:screenOrientation="portrait" />
		<service android:name="com.xiaomi.midrop.DeleteOldTmpFileService" android:permission="android.permission.BIND_JOB_SERVICE" android:enabled="true" android:exported="false" android:process=":fileService" />
		<provider android:name="android.support.v4.content.FileProvider" android:exported="false" android:authorities="com.xiaomi.midrop.fileProvider" android:grantUriPermissions="true">
			<meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="r/i/a.xml" />
		</provider>
		<activity android:label="Edit nickname" android:name="com.xiaomi.midrop.SetNameActivity" android:screenOrientation="portrait" android:windowSoftInputMode="0x14" />
		<activity android:theme="resourceId:0x7f1000b7" android:label="Connect to computer" android:name="com.xiaomi.midrop.ServerControlActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="0x4a0">
			<intent-filter>
				<action android:name="com.xiaomi.midrop.action.FTP" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		<activity android:theme="resourceId:0x7f1000b8" android:name="com.xiaomi.midrop.ServerControlPreference" android:screenOrientation="portrait" android:configChanges="0x4a0" />
		<service android:name="com.xiaomi.midrop.service.FTPServerService" />
		<activity android:name="com.xiaomi.midrop.ShareActivity" android:exported="false" android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="com.xiaomi.midrop.SHARE_ACTIVITY" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		<activity android:name="com.xiaomi.midrop.ShareViaQRCodeActivity" android:screenOrientation="portrait" />
		<activity android:name="com.xiaomi.midrop.share.ShareViaBluetoothActivity" android:screenOrientation="portrait" />
		<activity android:theme="resourceId:0x7f10000c" android:name="com.xiaomi.midrop.TransferGridViewActivity" android:screenOrientation="portrait" />
		<activity android:theme="resourceId:0x7f10000c" android:name="com.xiaomi.midrop.search.SearchActivity" android:screenOrientation="portrait" android:windowSoftInputMode="0x14" />
		<activity android:name="com.xiaomi.midrop.sender.ui.NotificationActivity" android:screenOrientation="portrait" />
		<provider android:name="com.xiaomi.midrop.common.RemoteProvider" android:exported="false" android:authorities="com.xiaomi.midrop.remoteprovider" />
		<activity android:theme="resourceId:0x7f1000ba" android:name="com.xiaomi.midrop.send.FilePickNewActivity" android:screenOrientation="portrait">
			<intent-filter android:label="Share to phone">
				<action android:name="com.xiaomi.midrop.FILE_LIST_SHARE" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
			<intent-filter android:label="ShareMe">
				<action android:name="android.intent.action.SEND" />
				<action android:name="android.intent.action.SEND_MULTIPLE" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="*/*" />
			</intent-filter>
			<intent-filter>
				<action android:name="com.xiaomi.CHOOSE_SEND" />
			</intent-filter>
			<intent-filter>
				<action android:name="com.xiaomi.CHOOSE_RECEIVE" />
			</intent-filter>
		</activity>
		<activity android:name="com.xiaomi.midrop.received.ReceivedActivity" android:exported="false" android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="com.xiaomi.midrop.RECEIVED_FILE" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		<activity android:name="com.xiaomi.midrop.about.AboutActivity" android:screenOrientation="portrait" />
		<activity android:name="com.xiaomi.midrop.OpenDirectoryActivity" android:screenOrientation="portrait" />
		<provider android:name="com.xiaomi.midrop.update.UpdateSDKFileProvider" android:exported="false" android:authorities="com.xiaomi.midrop.selfupdate.fileprovider" android:grantUriPermissions="true">
			<meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="r/i/e.xml" />
		</provider>
		<receiver android:name="com.xiaomi.midrop.update.MiMarketDownloadReceiver">
			<intent-filter>
				<action android:name="com.xiaomi.market.DOWNLOAD_INSTALL_RESULT" />
			</intent-filter>
		</receiver>
		<meta-data android:name="com.facebook.sdk.ApplicationId" android:value="562417750774291" />
		<provider android:name="com.facebook.FacebookContentProvider" android:exported="true" android:authorities="com.facebook.app.FacebookContentProvider562417750774291" />
		<activity android:theme="resourceId:0x7f1001e9" android:name="com.facebook.FacebookActivity" android:configChanges="0x5b0" />
		<activity android:theme="resourceId:0x7f10000c" android:name="com.xiaomi.midrop.qrcode.QrCodeScannerActivity" android:stateNotNeeded="true" android:screenOrientation="portrait" android:windowSoftInputMode="0x3" />
		<activity android:name="com.xiaomi.midrop.welcome.WelcomeActivity" android:screenOrientation="portrait" />
		<activity android:name="com.xiaomi.midrop.profile.ProfileSettingActivity" android:screenOrientation="portrait" android:windowSoftInputMode="0x23" />
		<activity android:theme="resourceId:0x7f1000b1" android:name="com.yalantis.ucrop.UCropActivity" android:screenOrientation="portrait" />
		<activity android:name="com.xiaomi.midrop.webshare.WebshareGuideActivity" android:exported="false" android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="com.xiaomi.midrop.WEB_SHARE" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		<activity android:name="com.xiaomi.midrop.send.history.FilePickHistoryImageListActivity" android:screenOrientation="portrait" />
		<activity android:theme="resourceId:0x7f10000a" android:name="com.xiaomi.midrop.korea.privacy.AppPermissionsUseActivity" android:screenOrientation="portrait" />
		<activity android:theme="resourceId:0x7f10000a" android:name="com.xiaomi.midrop.korea.privacy.AppPrivacyActivity" android:screenOrientation="portrait" />
		<meta-data android:name="com.sensorsdata.analytics.android.DisableTrackDeviceId" android:value="true" />
		<meta-data android:name="firebase_crashlytics_collection_enabled" android:value="false" />
		<activity android:theme="resourceId:0x7f10020b" android:name="com.journeyapps.barcodescanner.CaptureActivity" android:clearTaskOnLaunch="true" android:stateNotNeeded="true" android:screenOrientation="sensorLandscape" android:windowSoftInputMode="0x3" />
		<receiver android:name="com.google.android.gms.measurement.AppMeasurementReceiver" android:enabled="true" android:exported="false" />
		<receiver android:name="com.google.android.gms.measurement.AppMeasurementInstallReferrerReceiver" android:permission="android.permission.INSTALL_PACKAGES" android:enabled="true" android:exported="true">
			<intent-filter>
				<action android:name="com.android.vending.INSTALL_REFERRER" />
			</intent-filter>
		</receiver>
		<service android:name="com.google.android.gms.measurement.AppMeasurementService" android:enabled="true" android:exported="false" />
		<service android:name="com.google.android.gms.measurement.AppMeasurementJobService" android:permission="android.permission.BIND_JOB_SERVICE" android:enabled="true" android:exported="false" />
		<activity android:theme="@android:style/Theme.Translucent.NoTitleBar" android:name="com.google.android.gms.common.api.GoogleApiActivity" android:exported="false" />
		<receiver android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver" android:permission="com.google.android.c2dm.permission.SEND" android:exported="true">
			<intent-filter>
				<action android:name="com.google.android.c2dm.intent.RECEIVE" />
				<category android:name="com.xiaomi.midrop" />
			</intent-filter>
		</receiver>
		<service android:name="com.google.firebase.iid.FirebaseInstanceIdService" android:exported="true">
			<intent-filter android:priority="-500">
				<action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
			</intent-filter>
		</service>
		<provider android:name="com.google.firebase.provider.FirebaseInitProvider" android:exported="false" android:authorities="com.xiaomi.midrop.firebaseinitprovider" android:initOrder="100" />
		<meta-data android:name="com.google.android.gms.version" android:value="11910000" />
		<provider android:name="com.crashlytics.android.CrashlyticsInitProvider" android:exported="false" android:authorities="com.xiaomi.midrop.crashlyticsinitprovider" android:initOrder="100" />
		<receiver android:name="com.xiaomi.market.sdk.DownloadCompleteReceiver">
			<intent-filter>
				<action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
			</intent-filter>
		</receiver>
		<service android:name="androidx.room.MultiInstanceInvalidationService" android:exported="false" />
		<activity android:name="com.facebook.CustomTabMainActivity" />
		<activity android:name="com.facebook.CustomTabActivity" />
		<provider android:name="com.facebook.internal.FacebookInitProvider" android:exported="false" android:authorities="com.xiaomi.midrop.FacebookInitProvider" />
		<receiver android:name="com.facebook.CurrentAccessTokenExpirationBroadcastReceiver" android:exported="false">
			<intent-filter>
				<action android:name="com.facebook.sdk.ACTION_CURRENT_ACCESS_TOKEN_CHANGED" />
			</intent-filter>
		</receiver>
		<receiver android:name="com.facebook.CampaignTrackingReceiver" android:permission="android.permission.INSTALL_PACKAGES" android:exported="true">
			<intent-filter>
				<action android:name="com.android.vending.INSTALL_REFERRER" />
			</intent-filter>
		</receiver>
	</application>
</manifest>
