<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android" android:orientation="0" android:id="false" android:layout_width="-1" android:layout_height="-2" android:layout_marginTop="20dp" android:foreground="{2:16843534}" android:weightSum="{4:1065353216}">
	<TextView android:textSize="14sp" android:textColor="000" android:id="false" android:layout_width="-2" android:layout_height="-2" android:text="Send" android:drawableTop="r/f/ez.xml" android:layout_weight="{4:1056964608}" android:textAlignment="4" android:layout_marginStart="30dp" />
	<TextView android:textSize="14sp" android:textColor="000" android:id="false" android:layout_width="-2" android:layout_height="-2" android:text="Receive" android:drawableTop="r/f/ey.xml" android:layout_weight="{4:1056964608}" android:textAlignment="4" android:layout_marginEnd="30dp" />
</LinearLayout>
